{% extends 'index.html' %}
{% block content %}
<form>
  <label for="first_name">First name:</label>
  <input type="text" name="first_name"value="{{user.first_name}}">
  <label for="last_name">Last name:</label>
  <input type="text" name="last_name" value="{{user.last_name}}">
  <label for="image_url">Your image url here:</label>
  <input type="text" name="image_url"  value="{{user.image_url}}">
  <button formaction="/users/{{user.id}}/edit" formmethod="POST">Edit</button>
  <button formaction="/" formmethod="GET">Cancel</button>
</form>
{% endblock %}