{%extends "index.html"%}
{%block content%}
<h1>Edit Post For {{post.user.first_name}} {{post.user.last_name}}</h1>
<form>
  
  <label for="title">Title</label>
  <input type="text" name="title" value = {{post.title}}>
  
  <label for="content">Content</label>
  <input type="text" name="content" value = {{post.content}}>
  
  <button type="submit" 
          formaction ="/users/{{post.user.id}}" 
          formmethod="GET">
    Cancel
  </button>

  <button type="submit" 
          formaction ="/users/{{post.user.id}}/edit" 
          formmethod="POST">
    Edit
  </button>

</form>
{%endblock%}